FLASK_APP=run.py
FLASK_CONFIG=development
SECRET_KEY=mude-esta-chave-em-producao

DATABASE_URL=postgresql://zedindin:zedindin@localhost:5432/zedindin_dev
TEST_DATABASE_URL=postgresql://zedindin:zedindin@localhost:5432/zedindin_test

POSTGRES_USER=zedindin
POSTGRES_PASSWORD=zedindin
POSTGRES_DB=zedindin_dev
